<h2>Create New Figure</h2>

<!-- add content here -->
<form class="" action="/figures" method="post">
  <p>Name: <input id='figure_name' type="text" name="figure[name]" value=""></p>

  <h3>Titles</h3>
  <% @titles.each do |title|%>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name%></input><br>
  <% end %>
  <p>Create New Title: <input id="new_title" type="text" name="title[name]" value=""></p>

  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark|%>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input><br>
  <% end %>
  <p>Create New landmark</p>
  <p>Name: <input id='new_landmark' type="text" name="landmark[name]" value=""> Year: <input type="text" name="landmark[year_completed]" value=""></p>

  <input type="submit" name="" value="Create New Figure">
</form>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
